<nav class="navigation blue white-text">
	<div class="nav-wrapper">
		<a href="#" class="brand-logo">Flashskill</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li *ngIf="loginState!='UNAUTHORIZED'"><a [routerLink]="['CardFileList']">Karteien</a></li>
			<li *ngIf="loginState=='ADMIN'"><a [routerLink]="['UserList']">Benutzerverwaltung</a></li>
			<li *ngIf="loginState!='UNAUTHORIZED'"><a [routerLink]="['ChangePasswordForm']">Passwort ändern</a></li>
			<li *ngIf="loginState=='UNAUTHORIZED'"><a [routerLink]="['LoginForm']">Anmelden</a></li>
			<li *ngIf="loginState=='UNAUTHORIZED'"><a [routerLink]="['RegisterForm']">Registrieren</a></li>
			<li *ngIf="loginState!='UNAUTHORIZED'"><a (click)="doLogout()">Abmelden</a></li>
		</ul>
	</div>


</nav>

<div class="content-wrapper">
	<router-outlet></router-outlet>
</div>
