<h2 class="orange-text">Karteien</h2>
<div *ngIf="userMessage" class="row">
	<div class="card-panel red white-text"><i class="material-icons left">warning</i>{{userMessage}}</div>
</div>

<br>
<table>
	<thead>
		<tr>
			<th>Karteiname</th>
			<th>Anzahl Karten</th>
			<th>Zuletzt gelernt</th>
			<th colspan="5">&nbsp;</th>
		</tr>
	</thead>

	<tbody>
		<tr *ngFor="let cardFile of cardFiles">
			<td><a type="button" style="cursor:pointer;text-decoration:underline;" (click)="doOpenStatisticsPage(cardFile)" title="Statistiken ansehen">{{cardFile.name}}</a></td>
			<td style="text-align: right;">{{cardFile.cards.length}}</td>
			<td>{{cardFile.lastStudyDate}}</td>
			<td colspan="5">
				<button type="button" class="waves-effect waves-light btn blue" (click)="onStudyCardFile(cardFile)" title="Lernen"><i class="material-icons prefix small right">send</i>Lernen</button>
				<button type="button" class="waves-effect waves-light btn blue" (click)="onResetCardFile(cardFile)" [class.hidden-text]="isResetting==cardFile.id" title="Kartei zurücksetzen">
					<i class="material-icons prefix small right">layers_clear</i>Zurücksetzen
					<div *ngIf="isResetting==cardFile.id" class="preloader-wrapper small active">
						<div class="spinner-layer spinner-orange-only">
							<div class="circle-clipper left">
								<div class="circle"></div>
							</div>
							<div class="gap-patch">
								<div class="circle"></div>
							</div>
							<div class="circle-clipper right">
								<div class="circle"></div>
							</div>
						</div>
					</div>
				</button>
				<button type="button" class="waves-effect waves-light btn blue" (click)="onEditCardFile(cardFile)" title="Bearbeiten"><i class="material-icons prefix small">mode_edit</i></button>
				<button type="button" class="waves-effect waves-light btn blue" (click)="onDeleteCardFile(cardFile)" [class.hidden-text]="isDeleting==cardFile.id" title="Löschen">
					<i class="material-icons prefix small">delete</i>
					<div *ngIf="isDeleting==cardFile.id" class="preloader-wrapper small active">
						<div class="spinner-layer spinner-orange-only">
							<div class="circle-clipper left">
								<div class="circle"></div>
							</div>
							<div class="gap-patch">
								<div class="circle"></div>
							</div>
							<div class="circle-clipper right">
								<div class="circle"></div>
							</div>
						</div>
					</div>
				</button>
			</td>
		</tr>
		<tr *ngIf="cardFiles && cardFiles.length == 0">
			<td colspan="6">
				<h5 class="center-align">Noch keine Karteien vorhanden...</h5>
			</td>
		</tr>
		<tr *ngIf="!cardFiles && !userMessage">
			<td colspan="6">
				<div class="progress">
					<div class="indeterminate"></div>
				</div>
			</td>
		</tr>
	</tbody>
</table>
<div *ngIf="cardFiles" class="right-align">
	<a class="btn-floating btn-large waves-effect waves-light orange" (click)="onCreateCardFile()"><i class="material-icons">add</i></a>
</div>
