<h2 class="orange-text">Karteiverwaltung</h2>
<div *ngIf="userMessage" class="row">
	<div class="card-panel red white-text"><i class="material-icons left">warning</i>{{userMessage}}</div>
</div>
<div *ngIf="cardFile">
	<form method="POST" action="#" (submit)="onStore(cardFile)">
		<div class="row input-field">
			<label for="cardfile-name" [class.active]="cardFile.name">Karteiname</label>
			<input type="text" class="black-text" name="cardfile-name" [(ngModel)]="cardFile.name" pattern=".{3,250}" title="Mindestends 3 Zeichen, maximal 250 Zeichen" required autofocus />
		</div>
		<div class="row">
			<div class="col s5">
				<h6 class="blue-text">Begriff</h6>
			</div>
			<div class="col s5">
				<h6 class="blue-text">Definition</h6>
			</div>
			<div class="col s2">
			</div>
		</div>
		<div class="row" *ngFor="let card of cardFile.cards">
			<div class="col s5">
				<input type="text" [(ngModel)]="card.term" class="black-text" [ngModelOptions]="{standalone: true}" />
			</div>
			<div class="col s5">
				<input type="text" [(ngModel)]="card.definition" class="black-text" [ngModelOptions]="{standalone: true}" />
			</div>
			<div class="col s2">
				<button type="button" name="remove-card" (click)="onRemoveCard(card)" class="waves-effect waves-teal btn-flat material-icons tiny">close</button>
			</div>
		</div>
		<div class="left-align">
			<a class="btn-floating btn-large waves-effect waves-light orange" (click)="onAddCard()"><i class="material-icons">add</i></a>
		</div>

		<div class="row right-align">
			<button type="submit" class="waves-effect waves-light btn blue" [class.hidden-text]="isSaving">Speichern<i class="material-icons small right">save</i>
				<div *ngIf="isSaving" class="preloader-wrapper small active">
					<div class="spinner-layer spinner-orange-only">
						<div class="circle-clipper left">
							<div class="circle"></div>
						</div>
						<div class="gap-patch">
							<div class="circle"></div>
						</div>
						<div class="circle-clipper right">
							<div class="circle"></div>
						</div>
					</div>
				</div>
			</button>
			<button type="button" class="waves-effect waves-light btn blue" (click)="onCancel()">Abbrechen<i class="material-icons small right">cancel</i></button>
		</div>
	</form>
</div>
<div *ngIf="!cardFile && !userMessage" class="preloader-wrapper big active">
	<div class="spinner-layer spinner-blue-only">
		<div class="circle-clipper left">
			<div class="circle"></div>
		</div>
		<div class="gap-patch">
			<div class="circle"></div>
		</div>
		<div class="circle-clipper right">
			<div class="circle"></div>
		</div>
	</div>
</div>
