<div class="row" style="color: black">
	<h2 class="orange-text">Eigenes Passwort ändern</h2>
	<div *ngIf="userMessage" class="row">
			<div class="card-panel red white-text"><i class="material-icons left">warning</i>{{userMessage}}</div>
	</div>
	<form class="col s12" method="GET" action="#" (ngSubmit)="onStore()">
		<div class="input-field row">
			<label for="username">Altes Password</label>
			<input id="oldPassword" type="password" [(ngModel)]="oldPassword" name="oldPassword" required pattern=".{3,}" title="Mindestens 3 Zeichen" autofocus autocomplete="off">
		</div>
		<div class="input-field row">
			<label for="password">Neues Passwort</label>
			<input id="newPassword" type="password" [(ngModel)]="newPassword" name="newPassword" required pattern=".{3,}" title="Mindestens 3 Zeichen" autocomplete="off">
		</div>
		<div class="row">
			<div class="right-align">
				<button type="submit" class="waves-effect waves-light btn blue" [class.hidden-text]="isSaving">
					Speichern<i class="material-icons small right">save</i>
					<div *ngIf="isSaving" class="preloader-wrapper small active">
						<div class="spinner-layer spinner-orange-only">
							<div class="circle-clipper left">
								<div class="circle"></div>
							</div>
							<div class="gap-patch">
								<div class="circle"></div>
							</div>
							<div class="circle-clipper right">
								<div class="circle"></div>
							</div>
						</div>
					</div>
				</button>
			</div>
		</div>
	</form>
</div>
