<div *ngIf="userMessage" class="row">
	<div class="card-panel red white-text"><i class="material-icons left">warning</i>{{userMessage}}</div>
</div>

<div *ngIf="cardFileFinished" class="row">
	<div class="card-panel green black-text"><i class="material-icons left">info</i>Alle Karten sind in der 5. Abteilung, das heisst du hast die Wörter erfolgreich gelernt.
		<br> Die Kartei wurde für dich zurückgesetzt, sodass du erneut lernen kannst!</div>
</div>

<div *ngIf="currentCard" class="learn-view">
	<h2 class="orange-text">Lernen</h2>
	<div class="row" *ngIf="currentCard">
		<div class="col s2 m2">&nbsp;</div>
		<div class="col s8 m8">
			<div class="flippy-card white-text" [class.flipped]="isFlipped">
				<div class="card front blue valign-wrapper">
					<h5 class="valign center-align" style="width:100%">{{currentCard.term}}</h5>
					<div class="card-stats">
						<span class="known-count-badge">{{currentCard.knownCount}}x richtig</span>
						<span class="section-badge">{{currentCard.section + 1}}. Abteilung</span>
						<span class="missed-count-badge">{{currentCard.missedCount}}x falsch</span>
					</div>
				</div>
				<div class="card back blue valign-wrapper">
					<table class="result-table">
						<tr>
							<td style="text-align:right;">Deine Eingabe:</td>
							<td>{{previousGuess}}
						</tr>
						<tr>
							<td style="text-align:right;">Lösung:</td>
							<td>{{currentCard.definition}}
						</tr>
					</table>
					<h5 *ngIf="isCorrect" class="card-panel green white-text solution-message">Richtig!</h5>
					<h5 *ngIf="!isCorrect" class="card-panel red white-text solution-message">Leider falsch!</h5>
					<div class="card-stats">
						<span class="known-count-badge">{{currentCard.knownCount}}x richtig</span>
						<span class="section-badge">{{currentCard.section + 1}}. Abteilung</span>
						<span class="missed-count-badge">{{currentCard.missedCount}}x falsch</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col s2 m2">&nbsp;</div>
	</div>
	<div class="row">
		<form method="POST" action="#" (submit)="onGuess(card)">
			<div class="col s1 m1">&nbsp;</div>
			<div class="col s8 m8">
				<input type="text" name="guess" [attr.placeholder]="nextCard ? '[Enter] um weiterzugehen...' : 'Definition erraten...'" class="guess-input" [(ngModel)]="guess" autofocus autocomplete="off" />
			</div>
			<div class="col s2 m2">
				<button button="submit" class="btn-large waves-effect waves-light orange" [class.hidden-text]="isChecking">
					<i class="material-icons">send</i>
					<div *ngIf="isChecking" class="preloader-wrapper small active">
						<div class="spinner-layer spinner-blue-only">
							<div class="circle-clipper left">
								<div class="circle"></div>
							</div>
							<div class="gap-patch">
								<div class="circle"></div>
							</div>
							<div class="circle-clipper right">
								<div class="circle"></div>
							</div>
						</div>
					</div>
				</button>
			</div>
			<div class="col s1 m1">&nbsp;</div>
		</form>
	</div>
</div>

<div *ngIf="!currentCard && !userMessage" class="preloader-wrapper big active">
	<div class="spinner-layer spinner-blue-only">
		<div class="circle-clipper left">
			<div class="circle"></div>
		</div>
		<div class="gap-patch">
			<div class="circle"></div>
		</div>
		<div class="circle-clipper right">
			<div class="circle"></div>
		</div>
	</div>
</div>
