<div class="row" style="max-width: 800px; margin: 0 auto;">
    <form action="#" (ngSubmit)="doLogin()" class="row col s12">
        <div class="row">
            <h3 class="blue-text">Anmelden</h3>
        </div>
        <div *ngIf="userMessage" class="row">
            <div class="card-panel red"><i class="material-icons left">warning</i>{{userMessage}}</div>
        </div>
        <div class="row input-field">
            <label for="username">Benutzername:</label>
            <input type="text" name="username" id="username" class="black-text" autofocus [(ngModel)]="username" required pattern=".{3,}" title="Mindestens 3 Zeichen" />
        </div>
        <div class="row input-field">
            <label for="password">Passwort:</label>
            <input type="password" name="password" id="password" class="black-text" [(ngModel)]="password" required autocomplete="off" pattern=".{3,}" title="Mindestens 3 Zeichen" />
        </div>
        <div class="row">
                <button type="submit" class="waves-effect waves-light btn blue" [class.hidden-text]="isBusy">
                    Login<i class="material-icons right small">done</i>
                    <div *ngIf="isBusy" class="preloader-wrapper small active">
                        <div class="spinner-layer spinner-orange-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </button>
        </div>
    </form>
</div>
