<div class="statistics-view">
    <div *ngIf="statistics">
        <h3>{{statistics.cardfilename}}</h3>
        <div class="sections statistics-diagram" *ngIf="statistics.sections">
            <base-chart class="chart" [data]="statistics.sections.values" [labels]="statistics.sections.labels" [chartType]="chartType" [options]="options"></base-chart>
            <div class="inner-diagram">
                <h5>Gesamtanzahl Karten: {{totalCards}}</h5>
            </div>
        </div>
        <h4>Am meisten falsch</h4>
        <div class="top-5-missed-cards row" *ngIf="statistics.topMissedCards">
            <table class="striped">
                <thead>
                    <tr>
                        <th data-field="begriff">Begriff</th>
                        <th data-field="definition">Definition</th>
                        <th data-field="Anzahl falsch">Anzahl falsch</th>
                        <th data-field="Anzahl richtig">Anzahl richtig</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let card of statistics.topMissedCards">
                        <td>{{card.term}}</td>
                        <td>{{card.definition}}</td>
                        <td>{{card.missedCount}}</td>
                        <td>{{card.knownCount}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h4>Am meisten richtig</h4>
        <div class="top-5-known-cards row" *ngIf="statistics.topKnownCards">
            <table class="striped">
                <thead>
                    <tr>
                        <th data-field="begriff">Begriff</th>
                        <th data-field="definition">Definition</th>
                        <th data-field="Anzahl richtig">Anzahl richtig</th>
                        <th data-field="Anzahl falsch">Anzahl falsch</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let card of statistics.topKnownCards">
                        <td>{{card.term}}</td>
                        <td>{{card.definition}}</td>
                        <td>{{card.knownCount}}</td>
                        <td>{{card.missedCount}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div *ngIf="!statistics" class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>
