<h2 class="orange-text">Benutzerverwaltung</h2>
<div *ngIf="userMessage" class="row">
	<div class="card-panel red white-text"><i class="material-icons left">warning</i>{{userMessage}}</div>
</div>
<table>
	<thead>
		<tr>
			<th data-field="username">Benutzername</th>
			<th data-field="isAdmin">Adminrechte</th>
			<th data-field="lastLoginDate">Letzes Login</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<tr *ngFor="let user of users">
			<td>{{user.username}}</td>
			<td class="center-align">
				<input type="checkbox" class="filled-in" id="filled-in-box" [attr.checked]="user.admin?true:null" disabled />
				<label for="filled-in-box" class="checkbox-label">&nbsp;</label>
			</td>
			<td>{{user.lastLoginDate}}</td>
			<td>
				<button type="button" class="waves-effect waves-light btn blue" (click)="onEditUser(user)">Bearbeiten<i class="material-icons small right">mode_edit</i></button>
			</td>
			<td>
				<button type="button" class="waves-effect waves-light btn blue" (click)="onDeleteUser(user)" [class.hidden-text]="isDeleting==user.id">
					Löschen<i class="material-icons small right">delete</i>
					<div *ngIf="isDeleting==user.id" class="preloader-wrapper small active">
						<div class="spinner-layer spinner-orange-only">
							<div class="circle-clipper left">
								<div class="circle"></div>
							</div>
							<div class="gap-patch">
								<div class="circle"></div>
							</div>
							<div class="circle-clipper right">
								<div class="circle"></div>
							</div>
						</div>
					</div>
				</button>
			</td>
		</tr>
		<tr *ngIf="!users && !userMessage">
			<td colspan="5">
				<div class="progress">
					<div class="indeterminate"></div>
				</div>
			</td>
		</tr>
	</tbody>
</table>
<div *ngIf="users" class="right-align">
	<a class="btn-floating btn-large waves-effect waves-light orange" (click)="onCreateUser()"><i class="material-icons">add</i></a>
</div>
