<div class="row" style="color: black">
	<h2 class="orange-text">Benutzerverwaltung</h2>
	<div *ngIf="userMessage" class="row">
			<div class="card-panel red white-text"><i class="material-icons left">warning</i>{{userMessage}}</div>
	</div>
	<form *ngIf="user" class="col s12" method="GET" action="#" (ngSubmit)="onStore(user)">
		<div class="input-field row">
			<label for="username" [class.active]="user.username">Benutzername</label>
			<input id="username" type="text" [(ngModel)]="user.username" name="username" required pattern=".{3,}" title="Mindestens 3 Zeichen" autofocus>
		</div>
		<div class="input-field row">
			<label for="password" >Passwort</label>
			<input id="password" type="password" [(ngModel)]="user.password" name="password" [attr.required]="isPasswordRequired ? true : null" pattern=".{3,}" title="Mindestens 3 Zeichen">
		</div>
		<div class="row">
				<input type="checkbox" class="filled-in" id="filled-in-box" [(ngModel)]="user.admin" name="admin" />
				<label for="filled-in-box" class="checkbox-label">Adminrechte</label>
		</div>
		<div class="row">
			<div class="right-align">
				<button type="submit" class="waves-effect waves-light btn blue" [class.hidden-text]="isSaving">
					Speichern<i class="material-icons small right">save</i>
					<div *ngIf="isSaving" class="preloader-wrapper small active">
						<div class="spinner-layer spinner-orange-only">
							<div class="circle-clipper left">
								<div class="circle"></div>
							</div>
							<div class="gap-patch">
								<div class="circle"></div>
							</div>
							<div class="circle-clipper right">
								<div class="circle"></div>
							</div>
						</div>
					</div>
				</button>
				<button type="button" class="waves-effect waves-light btn blue" (click)="onCancel()">Abbrechen<i class="material-icons small right">cancel</i></button>
			</div>
		</div>
	</form>
	<div *ngIf="!user && !userMessage" class="preloader-wrapper big active">
		<div class="spinner-layer spinner-blue-only">
			<div class="circle-clipper left">
				<div class="circle"></div>
			</div>
			<div class="gap-patch">
				<div class="circle"></div>
			</div>
			<div class="circle-clipper right">
				<div class="circle"></div>
			</div>
		</div>
	</div>
</div>
