html, body {
    height: 100%;
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
}

/* navigation should no be the whole width */
.navigation {
    max-width: 100%;
    padding: 0 calc((100% - 1000px)/2);
}
/* content should be no the whole width as well */
.content-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}
/* preloader should be centered */
.preloader-wrapper {
    position: fixed;
    display: block;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
.orange-text {
    color: rgb(254, 153, 21) !important;
}
.orange {
    background-color: rgb(254, 153, 21) !important;
}
.blue-text {
    color: rgb(0, 130, 161) !important;
}
.blue {
    background-color: rgb(0, 130, 161) !important;
}

/* styles for correct flipping of the cards while learning */
.flippy-card {
    position: relative;
    height: 400px;
    margin: 40px auto;
    transition: .4s all;
}
.card {
    transition: .4s all;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flippy-card .front {
    transform: rotateX(0deg);
    z-index: 10;
}
.flippy-card .back {
    transform: rotateX(-180deg);
    z-index: 1;
}
.flippy-card.flipped .back {
    transform: rotateX(0deg);
    z-index: 10;
}
.flippy-card.flipped .front {
    transform: rotateX(-180deg);
    z-index: 1;
}

/* guess input style */
.content-wrapper .learn-view .guess-input {
    color: rgb(0, 130, 161);
    border-bottom: 2px solid rgb(254, 153, 21) !important;
    font-size: 2em;
    outline: none !important;
}
.missed-count-badge, .known-count-badge, .section-badge {
    display: block;
    border-radius: 2px;
    position: absolute;
    padding: 6px;
    line-height: 20px;
}
/* the missed count badge */
.missed-count-badge {
    display: block;
    background-color: #F44336;
    color: white;
    top: 5px;
    left: 5px;
}
.known-count-badge {
    display: block;
    background-color: #4CAF50;
    color: white;
    top: 5px;
    right: 5px;
}
.section-badge {
    top: 5px;
    left: 0;
    right: 0;
    text-align: center;
}
.hidden-text {
    color: transparent;
}
.spinner-orange-only {
    border-color: rgb(254, 153, 21);
}
.spinner-blue-only {
    border-color: rgb(0, 130, 161);
}

.result-table {
    display: block;
    position: absolute;
    top: 40%;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    color: white;
}
.solution-message {
    display: block;
    position: absolute;
    left: 50%;
    top: 70%;
    margin-left: -100px;
    width: 200px;
    text-align: center;
}
.statistics-diagram {
    position: relative;
}

/* diagram styles */
.inner-diagram {
    position: absolute;
    left: 10;
    bottom: 10;
    right: 0;
    margin: auto;
    line-height: 100px;
}

/* total cards label */
.inner-diagram h5 {
    display: inline-block;
    padding: 10px;
    color: white;
    background-color: #0082A1;
    text-align: center;
}
